<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- style.css include kiya -->
</head>
<body>
    <div class="form-container"> <!-- style.css se form-container class use ki -->
        <h2>Signup</h2>
        <form method="POST">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Register</button>
        </form>
        <!-- Msg display hata diya gaya hai, ab message login page par dikhega -->
    </div>
</body>
</html>
